body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-image: url('../imgs/24.jpg');
    background-color: #f4f4f4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center; 
    flex-direction: column; 
}

h1 {
    color: #000000;
    text-decoration: underline;
    margin: 20px 0; 
}

form {
    background-color: #ffffff8c;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%; 
    margin: 20px 0; 
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #0066ffaf;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%; 
}

form input[type="submit"]:hover {
    background-color: #0178ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; 
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-container {
    text-align: center;
    margin: 20px 0; 
}

.btn3 {
    color: #fffbfb;
    background-color: #005a44d8;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    margin: 10px; 
    border: 1px solid #03d898c4;
}

.btn3:hover {
    background-color: #02834d;
    color: #ffffff;
}
